
project data cache/testing integration with separation and the stem cells part 2/saved files/antrum_LGR5_recalc2.h5ad
project data cache/testing integration with separation and the stem cells part 2/saved files/antrum_LGR5_recalc2.rds
project data cache/testing integration with separation and the stem cells part 2/saved files/antrum_proc.h5ad
project data cache/testing integration with separation and the stem cells part 2/saved files/combined.h5ad
project data cache/testing integration with separation and the stem cells part 2/saved files/combined_control_proc.h5ad
project data cache/testing integration with separation and the stem cells part 2/saved files/combined_nocol_proc.h5ad
project data cache/testing integration with separation and the stem cells part 2/saved files/combined_proc.h5ad
project data cache/testing integration with separation and the stem cells part 2/saved files/combined_unproc.h5ad
project data cache/testing integration with separation and the stem cells part 2/variables/testing intestgation with separation and the stem cells part 2 env 2024-02-26.spydata
.Rproj.user
project data cache/testing integration with separation and the stem cells part 2/saved files/combined_patient_proc.h5ad
project data cache/refiltering from raw and reprocessing/nocol_refilt_proc.h5ad
project data cache/refiltering from raw and reprocessing/nocol_LGR5_refilt_proc.h5ad
project data cache/refiltering from raw and reprocessing/combined_refilt_proc.h5ad
project data cache/refiltering from raw and reprocessing/combined_LGR5_refilt_proc.h5ad
project data cache/refiltering from raw and reprocessing/antrum_refilt_proc.h5ad
project data cache/refiltering from raw and reprocessing/antrum_LGR5_refilt_proc.h5ad
