
project data cache/testing integration with separation and the stem cells part 2/saved files/antrum_LGR5_recalc2.h5ad
project data cache/testing integration with separation and the stem cells part 2/saved files/antrum_LGR5_recalc2.rds
project data cache/testing integration with separation and the stem cells part 2/saved files/antrum_proc.h5ad
project data cache/testing integration with separation and the stem cells part 2/saved files/combined.h5ad
project data cache/testing integration with separation and the stem cells part 2/saved files/combined_control_proc.h5ad
project data cache/testing integration with separation and the stem cells part 2/saved files/combined_nocol_proc.h5ad
project data cache/testing integration with separation and the stem cells part 2/saved files/combined_proc.h5ad
project data cache/testing integration with separation and the stem cells part 2/saved files/combined_unproc.h5ad
project data cache/testing integration with separation and the stem cells part 2/variables/testing intestgation with separation and the stem cells part 2 env 2024-02-26.spydata
.Rproj.user
project data cache/testing integration with separation and the stem cells part 2/saved files/combined_patient_proc.h5ad
project data cache/refiltering from raw and reprocessing/nocol_refilt_proc.h5ad
project data cache/refiltering from raw and reprocessing/nocol_LGR5_refilt_proc.h5ad
project data cache/refiltering from raw and reprocessing/combined_refilt_proc.h5ad
project data cache/refiltering from raw and reprocessing/combined_LGR5_refilt_proc.h5ad
project data cache/refiltering from raw and reprocessing/antrum_refilt_proc.h5ad
project data cache/refiltering from raw and reprocessing/antrum_LGR5_refilt_proc.h5ad
project data cache/refiltering from raw and reprocessing/antrum_LGR5_unfilt_subset.h5ad
project data cache/refiltering from raw and reprocessing/antrum_unfilt_subset.h5ad
project data cache/refiltering from raw and reprocessing/combined_LGR5_unfilt_subset.h5ad
project data cache/refiltering from raw and reprocessing/combined_unfilt_subset.h5ad
project data cache/refiltering from raw and reprocessing/nocol_LGR5_unfilt_subset.h5ad
project data cache/refiltering from raw and reprocessing/nocol_unfilt_subset.h5ad
scRNAseq_R_plotting/data/combined_test
project data cache/refiltering from raw and reprocessing/duodenum_unfilt_subset.h5ad
project data cache/testing integration with separation and the stem cells part 2/saved files/duodenum_combined.h5ad
project data cache/testing integration with separation and the stem cells part 2/saved files/duodenum_control.h5ad
project data cache/testing integration with separation and the stem cells part 2/saved files/duodenum_patient.h5ad
project data cache/testing integration with separation and the stem cells part 2/saved files/cellrank_test/ant_agr2_organoid.h5ad
project data cache/testing integration with separation and the stem cells part 2/saved files/cellrank_test/ant_cont_organoid.h5ad
project data cache/testing integration with separation and the stem cells part 2/saved files/cellrank_test/contant_reproc.h5ad
project data cache/testing integration with separation and the stem cells part 2/saved files/cellrank_test/duocont_reproc.h5ad
project data cache/testing integration with separation and the stem cells part 2/saved files/cellrank_test/duopat_reproc.h5ad
project data cache/testing integration with separation and the stem cells part 2/saved files/cellrank_test/pat_reproc.h5ad
project data cache/testing integration with separation and the stem cells part 2/saved files/cellrank_test/patant_reproc.h5ad
